@font-face {
    font-family: 'Tangerine', cursive;
    src: url('https://fonts.googleapis.com/css?family=Tangerine');
}

.fon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: url('Image/background.jpg');
    background-size: cover; 
}
.nav-link {
    color: #fff !important;
}


h1 {
    color: rgb(241, 62, 116); 
    padding-top: 300px;
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
}

.menu {
    position: relative;
    z-index: 2;
    padding: 0 50px;
   
}

.btn {
    font-size: 20px;
    font-weight: 500;
    background: rgb(241, 62, 116); 
    
}

.post img {
    width: 300px;
    height: 250px;
    position: absolute;
}

.post span {
    color: white;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.54);
    position: relative;
    top: calc(70% - 25px);
    padding: 5px;
    width: 100%;
    text-align: center;
}

.container {
    padding-top: 50px;
   
}

.row {
    padding-top: 40px;
    padding-right: 40px;
}

#content {
    position: relative;
    margin-left: 17%;
}

.title {
    font-size: 36px;
    color:  rgb(241, 62, 116);
}

.image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;

}

.image img {
    width: 220px;
    height: 250px;
    margin-left: 70px;
    border: solid 1px rgb(40, 109, 116);
}

.text {
    float: left;
    
    
}

.news {
    display: flex;
}

.legenda {
    margin-left: 30px;
    position: relative;
    display: block;
       

}
h6 {
    color: rgb(241, 62, 116);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    
}

.vid {
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    display: block;
    text-align: justify;
    margin-right: 40px;
    
}

.dogl {
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    display: block;
    text-align: justify;
    margin-right: 40px;
    
}

.video1 {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    
}
  .video1 iframe {
    position: absolute;
    width: 80%;
    height: 80%;
    margin-left: 100px;
        
}

.text span {
    color: rgb(61, 20, 128);
    font-weight: 500;
    text-align: center;
 
}

.image1 {
    margin-left: 150px;
    margin-bottom: 10px;
    width: 30%;
    text-align: center;

}
.image1 img {
    width: 600px;
    height: 450px;
    border: solid 1px rgb(40, 109, 116);
    margin-top: 20px;

}

.pests {
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    display: block;
    text-align: justify;
    margin-right: 40px;
}